html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}


.page-1 {
    
    left:0;
    width:100%;
    height:850px;
    background-color: #EFF0F2;
    padding: 80px;
}

.logo {
    width: 114px;
    height: 47px;
    font-size: 21px;
    
    color: #000;
    text-align: center;
    border:5px solid black;
    margin-left: 12%;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
}
/*бургер меню*/
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/*стилизируем меню*/
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
/*открытие закрытие */
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
/*конец*/

.hello {
padding-top: 15%;
}
.contact {
  padding-top: 15%;
  text-align: center;
 }
 .page-2 {
  left:0;
  width:100%;
  height:850px;
  background-color: #fafafa;
  padding: 80px;
 }
 P {
   color:#969494;
   font-size: 18px;
   font-family: Merriweather-Regular;
   text-transform:uppercase;
   padding-top:10px;   
 }
.foto1{
  float:left;
  width: 262px;
  height: 322px;
  margin-right: 50px;
}
.text2 {
  text-align: center;
  
  
}
  .chapter1 {
    font-size: 24px;
    color: #000;
  }
  .chapter2{
    font-size: 16px;
    font-family:Raleway-Regular,AdobeInvisFont,MyriadPro-Regular;
    text-transform: none;
  }
  .ourWorksP2 {
left: 70%;
  }

  .page-3 {
    left:0;
    width:100%;
    height:850px;
    background-color: #fcf7f7;
    padding: 80px;
  }
  h2 {
    font-size: 30px;
  }
  .container3 {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
  }
  .foto3 {
    height: 240px;
    width: 250px;
    margin: 20px;
    display: flex;
    
  }
  .item {
    margin: 20px;
  }

  h4 {
      font-size: 20px;
    color: #CFD8DC;
    font-family: Raleway-Regular,AdobeInvisFont,MyriadPro-Regular;
  }
  .page-7 {
  
    background-image: url(image\page-7.png);
    opacity: 0.25;
  }
  footer {
    background-color:#262B2E ;
    width: 100%;
    height: 150px;
    
  }
  .foto7 {
    width:41px;
    height: 47px;
    display: flex;
    justify-content: center;
    background-color: #71F6EB;
    margin: 5px;
  }
  h6 {
    color: #CFD8DC;
    font-size: 16px;  }